.app-site-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 700px;
    flex: 1;
    margin-top: 0.5em;
}

.app-main {
    position: relative;
    display: grid;
    grid-auto-columns: 7fr 3fr;
    background: var(--surface-colored2);
    gap: 0.5em;
    padding: 0.5em;
}

.app-main>aside {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

@media screen and (min-width: 600px) {
    .app-main {
        grid-auto-flow: column;
    }
    #map {
        grid-column: 1;
    }
}

img.leaflet-tile {
    filter: hue-rotate(67deg) saturate(1.2) contrast(1.1) brightness(0.9);
}