/* Import Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

/* Import theme variables */

@import 'theme.css';
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--text1);
    background: var(--surface-colored1);
}

a {
    color: var(--text-colored1);
}

h1,
h2,
h3,
h4 {
    font-family: 'Inter', serif;
    font-weight: 500;
    color: var(--text-colored1);
}

h1 {
    letter-spacing: -0.05em;
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 2.25rem;
}

p {
    line-height: 1.6;
    font-size: 1.08rem;
}

b {
    font-weight: 600;
    color: var(--text-colored1);
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.video {
    width: 400px;
    height: 250px;
    max-width: 100%;
}

.video iframe {
    width: 100%;
    height: 100%;
}

.site-header {
    background: var(--surface-colored1);
    box-shadow: inset var(--shadow);
}

.site-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.75em;
    padding: 1em;
}

.site-navigation .link {
    color: var(--text-contrary1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 0.01em;
    font-size: 0.95rem;
}

.site-navigation .link:first-of-type {
    margin-left: 0.5em;
    gap: 0.75rem;
    font-weight: 600;
}

.site-navigation img {
    image-rendering: pixelated;
    width: 1.5rem;
    height: 1.5rem;
    border-style: none;
}

.site-navigation .link:hover {
    text-decoration: underline;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.sticky + .content {
    padding-top: 60px;
}

.site-footer {
    box-sizing: content-box;

    display: grid;
    grid-auto-columns: 175px 70px 1fr;
    justify-items: stretch;
    gap: 0.5rem;

    max-width: 700px;

    margin: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;

    padding: 0 1rem;

    color: var(--text-accent1);
    font-weight: 300;
    font-size: 0.8rem;

    /* text-align: center; */

    line-height: 1.6;
}

.site-footer b {
    color: inherit;
}

.site-footer > .discharge {
    grid-row: 2;
    grid-column: span 3;
    text-align: start;
}
.site-footer > .copyright {
    grid-row: 1;
    grid-column: 1;
}
.site-footer > .additional {
    grid-row: 1;
    grid-column: 2;
}

.info-container {
    border: 1px solid rgb(0 0 0 / 15%);
    padding: 0.5em;
    background: var(--surface-colored2);
}

.part-container {
    margin: 0.5em;
    color: var(--text-colored1);
    font-weight: 300;
    display: block;
    align-items: baseline;
}

.part-heading {
    font-weight: 600;
    color: var(--text-accent1);
    margin-right: 0.4em;
}

.part-icon {
    display: inline-block;
    width: 0.93em;
    height: 0.93em;
    margin: 0 0.2rem;
    align-self: center;
}

.inline {
    display: inline-flex;
}

.first-row {
    grid-row: 1;
}

#map {
    max-height: 50vh;
    width: 100%;
    height: 400px;
    background: var(--surface-colored2);
}

#loading-spinner {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1000;
}

#loading-spinner > div {
    display: block;
    height: 3.5rem;
    width: 3.5rem;
    border: 0.5em solid transparent;
    border-top: 0.5em solid var(--text-accent1);
    border-radius: 100%;
    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.custom-button {
    background: none;
    border: none;
    cursor: pointer;
    background: var(--surface-colored3);
    padding: 0.7rem;
    border-radius: 100%;
    border: 1px solid var(--surface-colored2);
    width: 46px;
    height: 46px;
    pointer-events: all;
}

.custom-button:hover {
    background: var(--surface-colored4);
}

.custom-button:active {
    border-color: var(--surface-colored3);
}

.custom-button img {
    width: 20px;
    height: 20px;
    pointer-events: none;
    filter: var(--app-button-filter);
}

.center-page {
    position: fixed !important;
    inset: 0;
}

.theme-changer {
    margin-left: auto;
}

.theme-changer button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;

    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    border: 1px solid var(--surface-colored3);

    cursor: pointer;
}

.theme-changer button:hover {
    background: var(--surface-colored3);
}

.theme-changer button:active {
    border-color: var(--text-accent1);
}

.theme-changer button img {
    width: 1.5rem;
    height: 1.5rem;
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mb {
    margin-bottom: 1rem;
    display: block;
}

.hidden {
    display: none !important;
}

.rainbow {
    animation-name: hue;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.fade-in {
    opacity: 0;
    will-change: opacity;
    animation: fadein;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.popup {
    display: flex;
    flex-direction: column;

    z-index: 1000000;

    background: var(--surface-colored2);
    box-shadow: var(--shadow);

    max-width: 300px;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
    margin-bottom: 1rem;

    border-radius: 1rem;

    transition: transform 0.7s;
    will-change: transform;

    animation-name: popup-appear;
    animation-duration: 0.7s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}

.popup.popup-hide {
    transform: translateY(1000px);
}

.popup header {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup header h3 {
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
}

.popup > p {
    margin: 0 1rem;
    color: var(--text-colored2);
    font-size: 0.95rem;
}

.popup footer {
    margin: 1.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}

.popup button {
    background: transparent;
    border: 1px solid var(--surface-colored4);
    border-radius: 0.2rem;
    color: var(--text-colored1);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.25em 0.4em;
}

.popup button.close {
    width: 2rem;
    height: 2rem;
    background: transparent;
    /* color: #ff8080; */
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup button.accept {
    color: #78ff78;
    border-color: #78ff78;
}

.popup button.accept:hover {
    color: rgb(0, 0, 0);
    background-color: #78ff78;
}

.popup button.cancel {
    color: #ff5885;
    border-color: #ff5885;
}

.popup button.cancel:hover {
    color: black;
    background-color: #ff5885;
}

@keyframes popup-appear {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
