/* Import Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

/* Import theme variables */

@import 'theme.css';
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--text1);
    background: var(--surface-colored1);
}

a {
    color: var(--text-colored1);
}

h1,
h2,
h3,
h4 {
    font-family: 'Inter', serif;
    font-weight: 700;
    color: var(--text-colored1);
}

h1 {
    letter-spacing: -0.05em;
    font-size: 5em;
    text-align: center;
}

p {
    line-height: 1.5;
}

b {
    font-weight: 600;
    color: var(--text-colored1);
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.site-header {
    background: var(--surface-colored1);
    box-shadow: inset var(--shadow);
}

.site-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.75em;
    padding: 1em;
}

.site-navigation .link {
    color: var(--text-contrary1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 0.01em;
    font-size: 0.95rem;
}

.site-navigation .link:first-of-type {
    margin-left: 0.5em;
    gap: 0.75rem;
    font-weight: 600;
}

.site-navigation img {
    image-rendering: pixelated;
    width: 1.5rem;
    height: 1.5rem;
    border-style: none;
}

.site-navigation .link:hover {
    text-decoration: underline;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.sticky + .content {
    padding-top: 60px;
}

.site-footer {
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--text-accent1);
    font-weight: 300;
    font-size: 0.75em;
    padding: 2em;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.info-container {
    border: 1px solid rgb(0 0 0 / 15%);
    padding: 0.5em;
    background: var(--surface-colored2);
}

.part-container {
    margin: 0.5em;
    color: var(--text-colored1);
    font-weight: 300;
}

.part-heading {
    font-weight: 600;
    color: var(--text-accent1);
    margin-right: 0.4em;
}

.inline {
    display: inline-block;
}

.first-row {
    grid-row: 1;
}

#map {
    max-height: 50vh;
    width: 100%;
    height: 400px;
    background: var(--surface-colored2);
}

#loading-spinner {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1000;
}

#loading-spinner > div {
    display: block;
    height: 4em;
    width: 4em;
    border: 0.5em solid var(--surface-colored2);
    border-top: 0.5em solid var(--text-accent1);
    border-radius: 100%;
    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.custom-button {
    background: none;
    border: none;
    cursor: pointer;
    background: var(--surface-colored3);
    padding: 0.7rem;
    border-radius: 100%;
    border: 1px solid var(--surface-colored2);
    width: 46px;
    height: 46px;
}

.custom-button:hover {
    background: var(--surface-colored4);
}

.custom-button:active {
    border-color: var(--surface-colored3);
}

.custom-button img {
    width: 20px;
    height: 20px;
    pointer-events: none;
    filter: var(--app-button-filter);
}

.center-page {
    position: fixed !important;
    inset: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none !important;
}

.rainbow {
    animation-name: hue;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
