.landing-main {
    overflow: hidden;
}

.landing-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-header h1 {
    max-width: 260px;
    letter-spacing: -0.05em;
    font-size: min(max(3.5em, 6vw), 4em);
    text-align: center;
    margin: 5rem 0;
    color: var(--text-contrary1);
    line-height: 0.8;
}

.landing-header h1 span:last-of-type {
    color: var(--text-accent1);
}

.landing-section {
    --angle: 5deg;
    position: relative;

    min-height: 22em;

    padding: max(5vw, 1.5rem);
    padding-top: 5rem;
    padding-bottom: 12rem;

    color: var(--text3);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.landing-section::before,
.landing-section::after {
    background-color: var(--surface1);
    background-image: linear-gradient(var(--surface1) 0%, var(--surface2) 100%);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
}

.landing-section::before {
    transform: skew(0deg, var(--angle)) translateX(-49.9%);
}

.landing-section::after {
    transform: skew(0deg, calc(var(--angle) * -1)) translateX(50%);
}

.landing-section:first-of-type {
    margin-top: min(6vw, 5rem);
}

.landing-section b,
.landing-section h2 {
    color: var(--text2);
}

.landing-section h2 {
    margin-top: 0;
}

.landing-section img {
    border-style: groove;
    border-color: var(--surface2);
}

.divided {
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
    justify-content: center;
}

.divided > div {
    max-width: 400px;
    justify-self: center;
}

.authors {
    margin: auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.authors > h2 {
    width: 100%;
}

.authors-content {
    display: flex;
    flex-direction: column-reverse;
}

.faces {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.face {
    display: block;
    position: relative;
    overflow: hidden;
    width: 27vw;
    height: 27vw;
}

.face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    filter: grayscale(1);
    pointer-events: none;
}

.face h3 {
    visibility: hidden;
    opacity: 0;

    display: flex;
    position: absolute;
    inset: 0;

    color: var(--text2);

    margin: 1rem;

    justify-content: center;
    align-items: center;
    text-align: center;

    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.4));
    pointer-events: none;
}

.face:hover h3,
.face:focus h3 {
    visibility: visible;
    opacity: 1;

    animation-name: face-enter;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes face-out {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    75% {
        transform: translateY(4px);
    }
    100% {
        opacity: 0;
    }
}

@keyframes face-enter {
    0% {
        opacity: 0;
        transform: translateY(4px);
    }
    75% {
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    .divided.hasvideo {
        display: grid;
        grid-auto-flow: row;
        gap: 1em;
        justify-content: center;
    }

    .hasvideo > div {
        max-width: 650px;
        justify-self: center !important;
    }
}

@media screen and (min-width: 700px) {
    .landing-section {
        --angle: 3deg;
    }
    .divided {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 3em;
    }
    .divided > div {
        justify-self: flex-end;
        text-align: left;
        align-self: flex-start;
    }

    .divided > div:nth-child(even) {
        justify-self: flex-start;
        text-align: start;
    }

    .faces {
        justify-content: center;
    }
    .face {
        width: 10rem;
        height: 10rem;
    }
}
